@import '../../node_modules/platypusui/dist/platypus';
@import '/typography.less';

& {
    html {
        background-color: gray;
    }
    
        // Colors
    @button-border-radius: .5em;
    @button-width: 12em;
    @button-height: 4em;
    @white: #ffffff;
    @green: #34b994;
    @black-button: #393a3c;
    @light-blue: #3798c5;
    @gray-background: #f2f3f4;
    @dark-blue:#344b64;
    @gray: #a6a8ab;
    @transition-duration: .5s;
       
    .app {
        width: 100%;
        background-color: #ffffff;
        border: 0;
        padding: 0;
        height: 100%;
        position: relative;

        .scroller {
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            
            .main-viewport {
                height: auto;
            }
        }
    }
    button {
        font-family: Roboto;
    }
    
    // Drawer
    
    .drawer {
        position: fixed;
        background-color: #1a1e3a;
        padding: 0 1.5em;
        height: 100%;
        img {
            height: 3em;
        }
        ul {
            text-align: center;
            list-style-type: none;
            a {
                text-decoration: none;
                color: white;
            }
            li {
                font-family: WorkSans;
                font-weight: 900;
                font-size: 1.5em;
                padding: 1em 0;
                text-transform: uppercase;
            }
        }
        .box {
            margin-left: auto;
            height: 100px;
            width: 100px;
            background-color: transparent;
            border-radius: 5px;
            position: relative;
            &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                content: '\d7';
                font-size: 50px; 
                color: #FFF;
                line-height: 100px;
                text-align: center;
            }
        }
    }
}

@import '../src/templatecontrols/footer/footer.tc.less';
@import '../src/templatecontrols/navbar/navbar.tc.less';

@import '../src/viewcontrols/about/about.vc.less';
@import '../src/viewcontrols/home/home.vc.less';
@import '../src/viewcontrols/howtoplay/howtoplay.vc.less';
@import '../src/viewcontrols/promotions/promotions.vc.less';
