& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="howtoplay-vc"] {

    }
}

// dsk view styles

#htpTop {
    height: 17em;
    text-align: center;
    color: #ffffff;
    h1 {
        padding-top: 2.5em;
        font-family: WorkSans;
        font-weight: 100;
    }
    
    background-image: url('/images/how-to-play_assets/how-to-play-hero.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 56%;
}

#getStartBttn {
    color: #9e9f9e;
}

#videoBttn {
    color: #9e9f9e;
}

#getStartIphone {
    height: 1em;
    // width: 2em;
    // margin-left: 13em;
    display: table;
    text-align: center;
}

#dskViewPhone {
    img {
        max-width: 67%;
        margin-left: 57%;
    }
}

#whiteIphone{
    img {
        max-width: 19em;
        margin-top: 2em;
    }
} 

.mobileImage {
    img {
        max-width: 68%;
    }
}
// Start of the stylings for subcribe section
#appSoon {
    display: table-cell;
    padding-left: 8%;
    margin-top: 3em;
    text-align: left;
    h2 {
        max-width: 10em;
        font-family: WorkSans;
        font-weight: 900;
    }
        p {
            max-width: 24em;
            font-family: WorkSans;
            font-weight: bolder;
            font-size: 1.5em;
            color: #9e9f9e;
        }
     
                input {
                    border-style: solid;
                    border-radius: 5px;
                    max-width: 28em;
                    font-family: WorkSans;
                }
                    button {
                        background-color: #393a3c;
                        max-width: 12em;
                        border-radius: 5px;
                        font-weight: bold;
                        margin-top: 1.5em;
                        
                        span {
                            font-size: 1.5em;
                            font-family: Roboto;
                        }
                    }
}
// End of the subscribe section

// The two lines of text underneath the subcribe button
#midPage {
    margin-left: 21%;
    h4 {
        text-align: left;
        color: #3798c5;
        font-family: Work-Sans;
        font-weight: 900;
    }
        p {
           text-align: left;
           color: #9e9f9e;
           font-family: Roboto-Condensed;
           font-weight: bold; 
        }   
}
// end on the two lines beneath the subcribe button
// Numbers 1-4 listing sytles
#gamePlay {
    background-color: #f2f3f4;
    h1 {
        text-align: center;
        color: #34ba95;
        font-family: WorkSans;
        font-weight: 900; 
    }
}

.headers {
    margin-left: 17%;
    display: table;
}

.headers h3 {
    vertical-align: baseline;
    padding-left: 0.15em;
    margin-bottom: 0px;
    display: inline-block;
    font-family: RobotoCondensed;
}

.numbers {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-color: #3798c5;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    // vertical-align: text-top;
}

.numbers div {
    font-size: 38px;
    font-family: WorkSans;
    font-weight: bolder;
    vertical-align: text-top;
}

.rule {
    margin-left: 17%;
    margin-right: 17%;
    background-color: #9e9f9e;
}

.gamePlayItem p {
    margin-left: 17%;
    margin-right: 17%;
    color: #9e9f9e;
    font-family: WorkSans;
}

#gamePlay .scorePointsWin {
    width: 19em;
    margin-left: 18%;
    color: #3798c5;
    font-family: WorkSans;
    font-weight: 900;
}

#gamePlay .scorePointsWin p {
    color: #9e9f9e;
    font-family: Roboto;
    font-weight: bold;
}

#gamePlay .scorePointsWin h2 {
    max-width: 8em;
    margin-top: 3em;
    text-align: center;
}
// End of numbers 1-4 list styles

// Overview style changes converting to moblie
@media only screen and(max-width: 768px) {
   
   #htpTop h1 {
       padding-top: 4em;
   }
   
   #appSoon {
       text-align: center;
       padding-left: 0%;
   }
   
   #appSoon h2 {
       text-align: center;
       max-width: 100%;
       margin-left: 17%;
       
   }
   
   #appSoon p {
       margin-left: 3%;
       margin-right: 3%;
   }
   
   #appSoon input {
       margin-bottom: 0%;
   }
   
   #appSoon button {
       margin-top: 0%;
       margin-bottom: 14px;
   }
//    stylings for the 
   .headers {
       display: block;
       text-align: center;
       margin-left: 0%;
   }
   
   .numbers {
       display: block;
       text-align: center;
       margin-left: 43%;
   }
   
   .numbers div {
       vertical-align: middle;
   }
   
   #gamePlay .scorePointsWin h2 {
       text-align: center;
       max-width: 26em;
       margin-top: 0px;
   }
   
   .gamePlayItem p {
       text-align: center;
   }
   
   #scores {
       text-align: center;
   }
   
   #gamePlay .scorePointsWin {
       width: 100%;
       margin-left: 0%;
       text-align: center;
   }
   
    #getStartIphone {
       text-align: center;
   }
   
   #dskViewPhone img {
       margin-left: 0%;
   }
   
   #midPage {
       margin-left: 0%;
   }
   
   #midPage h4 {
       text-align: center;
    }
    
    #midPage p {
       text-align: center;
    }
    
    #appSoon {
        padding-left: 0%;
    }    
}
// End of style changes converting to mobile

// These styles are to make the transition from dsk view to mobile view smoother
@media only screen and(max-width: 948px){
    
    #getStartIphone {
        text-align: center;
    }
    
    #appSoon h2 {
        margin-left: 0%;
        display: block;
        width: 100%;
        
    }
    
    #gamePlay .scorePointsWin h2 {
       text-align: center;
       max-width: 26em;
       margin-top: 0px;
   }
    
    #dskViewPhone img {
        margin-left: 0%;
    }
    
    #midPage {
        margin-left: 0%;
    }
    
    #midPage h4 {
        text-align: center;
    }
    
    #midPage p {
        text-align: center;
    }
    
    #appSoon {
        padding-left: 0%;
    }
}
// End of styles to smooth the transition

//  videos page 
// Buttons associated with the stylings for buttons in navTab
.videoBttn {
    background: transparent;
    border-style: none;
    color: #393a3c;
    border-radius: 0px;
    outline: none;
    font-family: WorkSans;
    font-size: 22px;
    height: 2em;
}

#getStartBttn:focus {
    margin-right: auto;
    background: #f2f3f4;
    border-style: none;
    color: #393a3c;
    border-bottom: 2px solid #87D9F5;
}

#videoBttn:focus {
   margin-left: auto;
   background: #f2f3f4;
   border-style: none;
   color: #393a3c;
   border-bottom: 2px solid #87D9F5;
    
}

#tabNav {
    text-align: center;
    border-bottom: solid 1px #9e9f9e;
    font-size: 22px;
    height: 2em;
}    

#tabNav button {
        background: transparent;
}
// End of the styles for the navTab buttons

// video styles
// The styles associated with the videos page and the buttons for coming soon
#videoPage {
    text-align: center;
    background-color: #f2f3f4;
}

#videoPage h3 {
    color: #9e9f9e;
    font-family: Roboto;
}

#videoPage h4 {
    color: #3798c5;
    font-family: WorkSans;
    font-weight: bolder;
}

#videoPage p {
    color: #9e9f9e;
    font-family: WorkSans;
}

#videoPage button {
    font-family: Roboto;
}
// first row of videos
#contest div div {
    text-align: center;
    display: inline-block;
    max-width: 100%;
    background-color: #feffff;
    border-bottom: solid 2px #9e9f9e;       
}
// second row of videos
#opponents div div {
    text-align: center;
    display: inline-block;
    max-width: 100%;
    background-color: #feffff;
    border-bottom: solid 2px #9e9f9e;
}
// third row of videos
#games div div {
    display: inline-block;
    max-width: 100%;
    background-color: #feffff;
    border-bottom: solid 2px #9e9f9e;
}
// first row of videos buttons
#contest div div button {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #393a3c;
    color: #ffffff;
    font-family: Roboto;
}
// second row of videos buttons
#opponents div div button {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #393a3c;
    color: #ffffff;
}
// third row of videos buttons
#games div div button {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #393a3c;
    color: #ffffff;
}
// adjustments made for the even spacing down the middle of video divs
.image {
    margin-left: 12px;
    margin-right: 12px;
}
// spacing for the second to last video div
#seven {
    margin-right: 6px;
}
// spacing for the last video div
#eight {
    margin-left: 6px;
}
// End of video styles on main view

// video alignment in tablet view
@media only screen and(max-width: 775px) {
    .imagez {
        margin-top: 25px;
    }
}

// Style adjustments for sizing to mobile view
@media only screen and(max-width: 768px) {
    //provides grey background on left and right of mobile view
    #videoPage {
        padding-right: 40px;
        padding-left: 40px;
    }
    // spacing to provide grey back ground for titles on first videos
    #contest {
        margin-top: 25px;
    }
    // aligning elements correctly in the video divs of the first row of videos
    #contest div div {
        text-align: center;
        display: block;
        margin-top: 25px;
    }
    // aligning titles to sit correctly in middle of provided space
    #contest h3 {
        text-align: center;
        margin-left: 0;
    }
    // spacing to provide grey back ground for titles on second videos
    #opponents {
        margin-top: 25px;
    }
    // aligning elements correctly in the video divs of the second row of videos
    #opponents div div {
        text-align: center;
        display: block;
        margin-top: 25px;
    }
    // aligning titles to sit correctly in middle of provided space
    #opponents h3 {
        text-align: center;
        margin-left: 0;
    }
    // spacing to provide grey back ground for titles on third videos
    #games {
        margin-top: 25px;
    }
    // aligning elements correctly in the video divs of the third row of videos
    #games div div {
        text-align: center;
        margin-left: 0;
        display: block;
        margin-top: 25px;
    }
    // aligning titles to sit correctly in middle of provided space
    #games h3 {
        text-align: center;
        margin-left: 0;
    }
    // reseting divs to align correct
    .image {
        margin-left: 0px;
        margin-right: 0px;
    }
    // reseting divs to align correct
    #seven {
        margin-right: 0px;
    }
    // reseting divs to align correct
    #eight {
        margin-left: 0px;
    }
}
// End of adjustments for sizing to mobile view