& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="howtoplay-vc"] {

    }
}

// dsk view styles

#htpTop {
    height: 17em;
    text-align: center;
    color: #ffffff;
    h1 {
        padding-top: 2.5em;
        font-family: WorkSans;
        font-weight: 100;
    }
    
    background-image: url('/images/how-to-play_assets/how-to-play-hero.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 56%;
}

#getStartBttn {
    color: #9e9f9e;
}

#videoBttn {
    color: #9e9f9e;
}

#getStartIphone {
    height: 1em;
    // width: 2em;
    // margin-left: 13em;
    display: table;
    text-align: center;
}

#dskViewPhone {
    img {
        max-width: 67%;
        margin-left: 57%;
    }
}

#whiteIphone{
    img {
        max-width: 19em;
        margin-top: 2em;
    }
} 

.mobileImage {
    img {
        max-width: 68%;
    }
}

#appSoon {
    display: table-cell;
    padding-left: 8%;
    margin-top: 3em;
    text-align: left;
    h2 {
        max-width: 10em;
        font-family: WorkSans;
        font-weight: 900;
    }
        p {
            max-width: 24em;
            font-family: WorkSans;
            font-weight: bolder;
            font-size: 1.5em;
            color: #9e9f9e;
        }
     
                input {
                    border-style: solid;
                    border-radius: 5px;
                    max-width: 28em;
                    font-family: WorkSans;
                }
                    button {
                        background-color: #393a3c;
                        max-width: 12em;
                        border-radius: 5px;
                        font-weight: bold;
                        margin-top: 1.5em;
                        
                        span {
                            font-size: 1.5em;
                            font-family: Roboto;
                        }
                    }
}

#midPage {
    margin-left: 21%;
    h4 {
        text-align: left;
        color: #3798c5;
        font-family: Work-Sans;
        font-weight: 900;
    }
        p {
           text-align: left;
           color: #9e9f9e;
           font-family: Roboto-Condensed;
           font-weight: bold; 
        }   
}
// changes are good above....finally....
#gamePlay {
    background-color: #f2f3f4;
    h1 {
        text-align: center;
        color: #34ba95;
        font-family: WorkSans;
        font-weight: 900; 
    }
}

.headers {
    margin-left: 17%;
    display: table;
}

.headers h3 {
    vertical-align: baseline;
    padding-left: 0.15em;
    margin-bottom: 0px;
    display: inline-block;
    font-family: RobotoCondensed;
}

.numbers {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-color: #3798c5;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    // vertical-align: text-top;
}

.numbers div {
    font-size: 38px;
    font-family: WorkSans;
    font-weight: bolder;
    vertical-align: text-top;
}

.rule {
    margin-left: 17%;
    margin-right: 17%;
    background-color: #9e9f9e;
}

.gamePlayItem p {
    margin-left: 17%;
    margin-right: 17%;
    color: #9e9f9e;
    font-family: WorkSans;
}

#gamePlay .scorePointsWin {
    width: 19em;
    margin-left: 18%;
    color: #3798c5;
    font-family: WorkSans;
    font-weight: 900;
}

#gamePlay .scorePointsWin p {
    color: #9e9f9e;
    font-family: Roboto;
    font-weight: bold;
}

#gamePlay .scorePointsWin h2 {
    max-width: 8em;
    margin-top: 3em;
    text-align: center;
}
// so far so good......

@media only screen and(max-width: 768px) {
   #appSoon {
       text-align: center;
       padding-left: 0%;
   }
   
   #appSoon h2 {
       text-align: center;
       max-width: 100%;
       margin-left: 17%;
       
   }
   
   #appSoon p {
       margin-left: 3%;
       margin-right: 3%;
   }
   
   #appSoon input {
       margin-bottom: 0%;
   }
   
   #appSoon button {
       margin-top: 0%;
       margin-bottom: 14px;
   }
   
   .headers {
       display: block;
       text-align: center;
       margin-left: 0%;
   }
   
   .numbers {
       display: block;
       text-align: center;
       margin-left: 43%;
   }
   
   .numbers div {
       vertical-align: middle;
   }
   
   #gamePlay .scorePointsWin h2 {
       text-align: center;
    //    margin-left: 14%;
       max-width: 26em;
       margin-top: 0px;
   }
   
   .gamePlayItem p {
       text-align: center;
   }
   
   #scores {
       text-align: center;
    //    margin-top: 0px;
   }
   
   #gamePlay .scorePointsWin {
       width: 100%;
       margin-left: 0%;
       text-align: center;
   }
   
//    #whiteIphone {
//        text-align: center;
//    }
   
   #getStartIphone {
       text-align: center;
   }
   
//    #getStartIphone h2 {
//        margin-left: 0%;
//        display: block;
//        width: 100%;
//     }
   
   #dskViewPhone img {
       margin-left: 0%;
   }
   
   #midPage {
       margin-left: 0%;
   }
   
   #midPage h4 {
       text-align: center;
    }
    
    #midPage p {
       text-align: center;
    }
    
    #appSoon {
        padding-left: 0%;
    }    
}

@media only screen and(max-width: 948px){
    // #whiteIphone {
    //     text-align: center;
    // }
    
    #getStartIphone {
        text-align: center;
    }
    
    #appSoon h2 {
        margin-left: 0%;
        display: block;
        width: 100%;
        
    }
    
    #gamePlay .scorePointsWin h2 {
       text-align: center;
    //    margin-left: 14%;
       max-width: 26em;
       margin-top: 0px;
   }
    
    #dskViewPhone img {
        margin-left: 0%;
    }
    
    #midPage {
        margin-left: 0%;
    }
    
    #midPage h4 {
        text-align: center;
    }
    
    #midPage p {
        text-align: center;
    }
    
    #appSoon {
        padding-left: 0%;
    }
} 

//  videos page 

.videoBttn {
    background: transparent;
    border-style: none;
    color: #393a3c;
    border-radius: 0px;
    outline: none;
    font-family: WorkSans;
    font-size: 22px;
    height: 2em;
}

#getStartBttn:focus {
    margin-right: auto;
    background: #f2f3f4;
    border-style: none;
    color: #393a3c;
    border-bottom: 2px solid #87D9F5;
}

#videoBttn:focus {
   margin-left: auto;
   background: #f2f3f4;
   border-style: none;
   color: #393a3c;
   border-bottom: 2px solid #87D9F5;
    
}

#tabNav {
    text-align: center;
    border-bottom: solid 1px #9e9f9e;
    font-size: 22px;
    height: 2em;
}    

#tabNav button {
        background: transparent;
}


// video styles

#videoPage {
    text-align: center;
    background-color: #f2f3f4;
}

#videoPage h3 {
    color: #9e9f9e;
    font-family: Roboto;
}

#videoPage h4 {
    color: #3798c5;
    font-family: WorkSans;
    font-weight: bolder;
}

#videoPage p {
    color: #9e9f9e;
    font-family: WorkSans;
}

#videoPage button {
    font-family: Roboto;
}

#contest div div {
    text-align: center;
    display: inline-block;
    max-width: 100%;
    background-color: #feffff;       
}

#opponents div div {
    text-align: center;
    display: inline-block;
    max-width: 100%;
    background-color: #feffff;
}

#games div div {
    // margin-left: 12%;
    display: inline-block;
    max-width: 100%;
    background-color: #feffff;
}

#contest div div button {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #393a3c;
    color: #ffffff;
    font-family: Roboto;
}

#opponents div div button {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #393a3c;
    color: #ffffff;
}

#games div div button {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #393a3c;
    color: #ffffff;
}

.image {
    margin-left: 12px;
    margin-right: 12px;
}

#seven {
    margin-right: 6px;
}

#eight {
    margin-left: 6px;
}

@media only screen and(max-width: 768px) {
    
    #videoPage {
        padding-right: 40px;
        padding-left: 40px;
    }
    
    #contest {
        margin-top: 25px;
    }
    
    #contest div div {
        text-align: center;
        display: block;
        margin-top: 25px;
    }
    
    #contest h3 {
        text-align: center;
        margin-left: 0;
    }
    
    #opponents {
        margin-top: 25px;
    }
    
    #opponents div div {
        text-align: center;
        display: block;
        margin-top: 25px;
    }
    
    #opponents h3 {
        text-align: center;
        margin-left: 0;
    }
    
    #games {
        margin-top: 25px;
    }
    
    #games div div {
        text-align: center;
        margin-left: 0;
        display: block;
        margin-top: 25px;
    }
    
    #games h3 {
        text-align: center;
        margin-left: 0;
    }
    
    .image {
        margin-left: 0px;
        margin-right: 0px;
    }

    #seven {
        margin-right: 0px;
    }

    #eight {
        margin-left: 0px;
    }
}