& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="howtoplay-vc"] {

    }
}

// dsk view styles

#htpTop {
    height: 17em;
    text-align: center;
    color: #ffffff;
    h2 {
        padding-top: 3em;
    }
    
    background-image: url('/images/how-to-play_assets/how-to-play-hero-crop.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 65%;
}

#getStartIphone {
    height: 1em;
    // width: 2em;
    // margin-left: 13em;
    display: table;
    text-align: center;
}

#dskViewPhone {
    img {
        max-width: 19em;
        margin-left: 57%;
    }
}

#whiteIphone{
    img {
        max-width: 19em;
        margin-top: 2em;
    }
} 

.mobileImage {
    img {
        max-width: 21em;
    }
}

#appSoon {
    display: table-cell;
    padding-left: 8%;
    margin-top: 3em;
    text-align: left;
    h2 {
        max-width: 10em;
    }
        p {
            max-width: 24em;
            font-weight: bold;
            font-size: 1.5em;
        }
     
                input {
                    border-style: solid;
                    border-radius: 5px;
                    max-width: 28em;
                }
                    button {
                        background-color: #000000;
                        max-width: 12em;
                        border-radius: 5px;
                        font-weight: bold;
                        margin-top: 1.5em;
                        
                        span {
                            font-size: 1.5em;
                        }
                    }
}

#midPage {
    margin-left: 21%;
    h4 {
        text-align: left;
    }
        p {
           text-align: left; 
        }   
}
// changes are good above....finally....
#gamePlay {
    background-color: #f2f3f4;
    h1 {
        text-align: center;
        color: #34ba95; 
    }
}

.headers {
    margin-left: 17%;
    display: table;
}

.headers h3 {
    vertical-align: baseline;
    padding-left: 0.15em;
    margin-bottom: 0px;
    display: inline-block;
}

.numbers {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-color: #38C4F2;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    // vertical-align: text-top;
}

.numbers div {
    font-size: 38px;
    font-weight: bold;
    vertical-align: text-top;
}

.rule {
    margin-left: 17%;
    margin-right: 17%;
}

.gamePlayItem p {
    margin-left: 17%;
    margin-right: 17%;
}

#gamePlay .scorePointsWin {
    width: 19em;
    margin-left: 18%;
}

#gamePlay .scorePointsWin h2 {
    width: 8em;
    margin-top: 3em;
}
// so far so good......

@media only screen and(max-width: 700px) {
   #appSoon {
       text-align: center;
       padding-left: 0%;
   }
   
   #appSoon h2 {
       text-align: center;
       max-width: 10em;
       
   }
   
   #appSoon p {
       margin-left: 3%;
       margin-right: 3%;
   }
   
   .headers {
       display: block;
       text-align: center;
       margin-left: 0%;
   }
   
//    .headers h3 {
//     //    margin-top: 0em;
//    }
   
   .numbers {
       display: block;
       text-align: center;
       margin-left: 43%;
   }
   
   .numbers div {
       vertical-align: middle;
   }
   
   .scorePointsWin h2 {
       text-align: center;
       margin-left: 14%;
   }
   
   #scores {
       text-align: center;
    //    margin-left: 17%;
    //    margin-right: 17%;
   }
   
   #gamePlay .scorePointsWin {
       margin-left: 13%;
   }    
} 