& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="about-vc"] {

    }
}

.header {
    height: 17em;
    background-image: url('/images/about_assets/assets/about-hero.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 15%;
    text-align: center;
    color: white;
    h1 {
        padding-top: 2.25em;
    }
}

.teamIntro {
    text-align: center;
    h1 {
        color: #00b786;
    }
    p {
        color: #9e9f9e;
    }
}

.container {
    text-align: center;
    p {
        color: #9e9f9e;
    }
    h1 {
        color: #00b786;
    }
}

.origin h3 {
    color: #9e9f9e;
}

.subscribe {
    background-color: #2c8eb5;
    height: 9em;
    text-align: center;
    p {
        color: white;
    }
}


.team {
    background-color: #f2f1f0;
    h2 {
        color: #2c8eb5;
    }
    h3 {
       color: #9e9f9e; 
    }
}

.Bill {
    background-color: white;
}

.Paul {
    background-color: white;
}

.Preston {
    background-color: white;
}

.teamText {
    float: right;
}

.press {
    width: 12em;
    display: inline-block;
    font-family: Roboto-Condensed;
    background-color: #343534;
    border-radius: 0.5em;
    color: white;
    margin-top: 1em;
}

.email {
    width: 30em;
    background-color: white;
    border-radius: 0.5em;
    display: inline-block;
    height: 2.5em;
}

