& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="about-vc"] {

    }
}

.header {
    height: 17em;
}

.header h1 {
    color: white;
    text-align: center;
}