& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="navbar"] {
    .navbar {
        position: fixed;
        z-index: 100;
        opacity: .95;
        height: 3.2em;
        width: 100%;
        background-color: #ffffff;
        color: gray;
        padding: 0 .5em;
        .nav-logo {
            height: 3.2em;
            img {
                height: 75%;
                margin-top: .4em;
            }
        }
        .nav-links {
            margin: 0;
            padding: 0;
            height: 3.2em;       
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                position:fixed;
                right:10%;
                li {                   
                    font-family: WorkSans;
                    text-transform: uppercase; 
                    font-weight: bold;
                    display: inline-block;
                    padding: 0 .5em;
                    // height: 3.2em;
                    line-height: 3.2em;
                    vertical-align: middle;
                    box-sizing: border-box;
                    border: 2px solid transparent;
                        .activeNavLinks {
                            color:#a6a8ab; 
                        }
                        .activeNavLinks:focus {
                            color:#2d97d2;
                        }   
                    }
                }         
            }
        
        .social-links {
            height: 3.1em;
            background-color: #f2f3f4;
            img {                
                height: 60%;
                width: 30%;
                padding: 0 .2em;
                margin-top: .4em;
            }
        }
        .drawer-box {
            position: absolute;
            margin-top: .8em;
            padding: 0;
            .navbar-icon {
                position: relative;
                @icon-color: #3798c5;
                @icon-gap: 7px;
                @icon-stroke: 1px;
                @icon-width: 20px;
                margin: .5em 0 0 0;
                display: inline-block;
                height: @icon-stroke;
                width: @icon-width;
                background-color: @icon-color;

                &:before, &:after {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    height: @icon-stroke;
                    width: @icon-width;
                    background-color: @icon-color;
                }

                &:before {
                    bottom: @icon-gap;
                }

                &:after {
                    bottom: @icon-gap * 2;
                }
            }        
        }     
    }
    }
}