& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="promotions-vc"] {

    }
}

    @button-width: 12em;
    @button-height: 4em;
    @button-border-radius: .5em;
    
.promoHeader {
    height: 17em;
    background-image: url('/images/promotions_assets/promo-hero.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: 15%;
    text-align: center;
    color: white;
    .promoTitle {
        padding-top: 2.25em;
        color:#f2f3f4;
        text-align:center;
        font-family: WorkSans;
        font-weight: 100;
    }
}
.promoText, .promoImg {
    padding-top: 3em;
    padding-left: 4em;
    padding-bottom: 3em;
    // text-align: center;
}

.registerNowText {
    font-family:Roboto;
    font-weight:bold;
    color:#444444;
    font-size:2em;
}

.throughDateText {
    font-family:Roboto;
    font-weight:bold;
    color:#444444;
    font-size:1.5em;
}

.freeYetiAppleText {
    font-family:WorkSans;
    font-weight:900;
    color:#34ba95;
}

.AlvAubText {
    font-family:WorkSans;
    color:#444444;
    font-weight:500;
    font-size:1.2em;
}

#registerBtn {
    background-color:#404042;
    color:white;
    width:@button-width;
    height:@button-height;
    padding:.75em;
    border:none;
    border-radius: @button-border-radius;
    font-family:Roboto;
    font-size:1.2em;
}

.closeBtn {
   position: fixed;
   right: 5%;
   top: 3%;
   background-color: transparent;
   border: none;
}

.closeBtn:hover {
    cursor: pointer;
}

.modalTitle {
    text-align:center;
    color:#2d97d2;
    font-family: Roboto;
    font-size:1.2em;
}

.modalInput {
    width:25em;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: #ffffff;
}

.modalSelect {
    width:25em;
    padding:3em;
    border-radius: 5px;
    border: #ffffff;
}

#modalBtn {
    background-color:#34ba95;
    width:@button-width;
    height:@button-height;
    font-family: Roboto;
    padding:.75em;
    border: none;
    border-radius: @button-border-radius;
    font-size:1.1em;
}

