& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="promotions-vc"] {

    }
}

header {
    height:17em;
}

.promoText {
    padding-top: 3em;
    padding-left: 4em;
    padding-bottom: 3em;
}

.promoImg {
    padding-top: 3em;
    padding-right: 4em;  
    padding-bottom: 3em;  
}

h1 {
    color:#f2f3f4;
    text-align:center;
}

h4 {
    color:#a8a9ac;
}

h2 {
    color:#34ba95;
}

h3 {
    color:#34ba95;
}

.register-button {
    color:404041;
}
