& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="footer"] {
        
        @button-border-radius: .5em;
        @button-width: 12em;
        @button-height: 4em;
        @white: #ffffff;
        @green: #34b994;
        @black-button: #393a3c;
        @light-blue: #3798c5;
        @gray-background: #f2f3f4;
        @dark-blue:#344b64;
        @gray: #a6a8ab;
        @transition-duration: .5s;

        .footer {
            width: 100%;
            text-align: center;
            @margin: .5em;
            background-color: #1a212b;
            color: @dark-blue;
            margin: 0;
            padding: 0;
            .footer-logo {
                height: 40%;
                img {
                    width: 40%;
                    padding-top: .5em;
                }
            }
            .soc-media-footer {
                height: 40%;
                img {
                    width: 10%;
                    height: 1.5em;
                    padding: 0 .4em 0 .4em;
                }
            }
            ul {
                list-style-type: none;
                padding: 0 .5em;
                margin: 0;
                text-transform: uppercase;
                li {
                    margin: .3em 0;
                    font-family: WorkSans;
                    font-weight: bold;
                }
                a:hover {
                    color: darken(@light-blue, 20%);
                }
            }
            .vert-line {
                border-left: 1px solid @dark-blue;
            }
            .left {
                text-align: center;
            }
            .right {
                text-align: center;
            }
            .contact-btn {
                margin: 1em 0;
                width: 12em;
                font-family: Roboto;
                background-color: @green;
                text-transform: uppercase;
                border-radius: 5px;
                &:hover {
                    background-color: darken(@green, 10%);
                    transition-duration: @transition-duration;
                }
            }
            .bottom {
                background-color: #0f121a;
                text-align: center;
                text-transform: uppercase;
                margin:0;
                padding: 0;
                p {
                    margin: .3em 0;
                    font-family: WorkSans;
                    font-weight: bold;
                    padding: 0;
                }
            }
        }
    }
}