& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {

    }
    
    .data {
        background-image: url('/images/home_assets/coversharks-web-hero.jpg');
        text-align: center;
        width: 100%;        
        color: white;
        h1 {
            text-transform: uppercase;
            padding: .5em .5em;
            margin: 2em 0 0;
            border: 0;
            background-color: #2798ca;            
            color: white;
        }
        p {
            padding: 0 1.2em 0 1.2em;
            text-align: left;
            color: white;
        }
        mobile-p {
            text-transform: uppercase;
            color: white;
        }
        img {
            height: 30em;
            margin-top: 3em;
        }
    }
    
    .yeti {
        img {
            height: 25em;
        }
        .promoText {
            margin-top: 5em;
        }
    }
    .choose {
        background-color: #182245;
        img {
            height: 25em;
        }
    }
    .overview {
        img {
            height: 15em;
        }
    }
}