& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {

    }
    
    @button-border-radius: .5em;
    @button-width: 12em;
    @button-height: 4em;
    @white: #ffffff;
    @green: #34b994;
    @black-button: #393a3c;
    @light-blue: #3798c5;
    @gray-background: #f2f3f4;
    @dark-blue:#344b64;
    @gray: #a6a8ab;
    @transition-duration: .5s;
    
    
    
    .home-container{
        position: relative;
        padding-top: 3.2em;
        margin: 0;
    }
    .data {
        background-image: url('/images/home_assets/coversharks-web-hero.jpg');
        background-size: cover;
        text-align: center;
        width: 100%;        
        color: @white;
        margin: 0;
        padding: 0;
        h1 {
            font-family: WorkSans;
            font-weight: 900;
            text-transform: uppercase;
            padding: .5em .5em;
            margin: 2em 0 0;
            background-color: #2798ca;            
            color: @white;
        }
        p {
            font-family: WorkSans;
            padding: 0 1.2em 0 1.2em;
            text-align: left;
            color: @white;
        }
        mobile-p {
            width: 75%;
            text-transform: uppercase;
            color: @white;
        }
        img {
            height: 25em;
            margin-top: 2em;
            margin-bottom: 0;
            padding: 0;
        }
        a {
            font-family: Roboto;
            padding: @button-height * .25 @button-width * .25;
            border-radius: @button-border-radius;
            background-color: @white;
            color: black;
            text-transform: uppercase;
            &:hover {
                background-color: darken(@white, 25%);
                transition-duration: @transition-duration;
            } 
        }
    }
    
    .yeti {
        margin: 0;
        padding: 0;
        h4 {
            font-family: Roboto;
            font-weight: bold;
            color: @gray;
        }
        h2{
            font-family: WorkSans;
            font-weight: 900;
            color: #34b994;
        }
        img {
            height: 25em;
            padding: .5em 0;
            margin: 0;
        }
        button {
            width: @button-width;
            height: @button-height;
            border-radius: @button-border-radius;
            background-color: @black-button;
            color:white;
            text-transform: uppercase;
            margin-bottom: 1em;  
            &:hover {
                background-color: lighten(@black-button, 20%);
                transition-duration: @transition-duration;
            }      
        }
    }
    .choose {
        text-align: center;
        background-image: url('/images/home_assets/bkgrnd.svg');
        background-size: cover;
        padding: 1em 1em 3em 1em;
        h1 {
            color: #2798ca;
            font-family: WorkSans;
            font-weight: 900;
        }
        p {
            color: white;
            font-family: WorkSans;
        }
        img {
            height: 27em;
            width: auto;
        }
        a {
            font-family: Roboto;
            padding: @button-height * .25 @button-width * .25;
            border-radius: @button-border-radius;
            background-color: @white;
            color: black;
            text-transform: uppercase;
            &:hover {
                background-color: darken(@white, 25%);
                transition-duration: @transition-duration;
            } 
        }
    }
    .overview {
        text-align: center;
        background-color: #f2f3f4;
        margin: 0;
        padding: 0;
        h1 {
            color: #2798ca;
            font-family: WorkSans;
            font-weight: 900;
        }
        .panel {
            border-right: 2px solid gray;
            border-bottom: 2px solid gray;
            border-radius: @button-border-radius;
            margin: .5em 2em;
            background-color: @white;
            padding-bottom: .5em;
            img {
                width: 75%;
                height: 50%;
                margin: .5em 0;
                padding: 0;
            }
            h5 {
                font-size: 1.5em;
                font-family: Roboto;
                font-weight: bold;
                padding: .25em 0;
            }
            p {
                font-family: WorkSans;
                color: @gray;
            }
        }
        .email-form {            
            padding: 2em 0;
            h4 {
                font-family: Roboto;
                font-weight: bold;
                text-align: center; 
                margin: 0 0 1em 0;
                padding: 0;
                color: #2798ca;
            }
            input {
                font-family: Roboto;
                padding: 0;
                text-align: center;
                margin: auto 0 auto 0;
                width: 60%;
            }
            button {
                font-family: Roboto;
                border-radius: @button-border-radius;
                height: @button-height;
                width: @button-width;
                background-color: @black-button;
                color: @white;
                &:hover {
                    background-color: lighten(@black-button, 20%);
                    transition-duration: @transition-duration;
                }
            }
        }        
    }
    @media only screen and (max-width: 900px) {
        .data {
            background-image: url('/images/home_assets/coversharks-home-mobile-hero.png');
            background-size: cover;
            background-position-x: center;
            background-position-y: 60%;
            img {
                height: 18em;
            }
        }
        .yeti {
            text-align: center;
            img {
                height: 15em;
            }
        }
        .overview {
            .panel {
                border: 0;
                margin-left: auto;
                margin-right: auto;
                img {
                    height: 15em;
                    width: auto;
                    border-radius: @button-border-radius;
                    margin-left: auto;
                    margin-right: auto;
                }
                p {
                    padding: 0 5em;
                    margin: 1em;
                }
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .data {
            img {
                height: 12em;
            }
        }
        .overview {
            .panel {
                img {
                    height: 15em;
                    width: auto;
                }
            }
        }
    }
}